@import "../../site/functions.styl"

.home 
  div
    centerItems(0, 0, 0, 0);
    flex-direction: column;
    margin: 10px;
    
    *
      margin: 0;
    
    /* Recommendations */
    .anchors
      padding: 0;
      list-style: none;

      
.search-section
  position: relative;
  width: 33vw;
  height: 35px;
  
  .search
    position: absolute;
    top: 0;
    bottom: 0;
    border: none;
    outline: none;
    
  #search-box
    left: 0;
    right: 0;
    padding: 0;
    padding-left: 15px;
    border-radius: 7px;
    
  #search-type
    z-index: 999;
    right: 0;
    rightBorderRadius(7px);