@import "../../site/functions.styl"

.home 
  div
    centerItems(0, 0, 0, 0);
    flex-direction: column;
    margin: 10px;
    
    *
      margin: 0;
    
    /* Recommendations */
    .anchors
      padding: 0;
      list-style: none;
