/* Borders */
borderRadiusLeft(radius) {
  border-bottom-left-radius: radius;
  border-top-left-radius: radius;
}
borderRadiusRight(radius) {
  border-bottom-right-radius: radius;
  border-top-right-radius: radius;
}

button(width, height, color, hoverColor) {
  width: width;
  height: height;
  
  background-color: color;
  border: none;
  border-radius: 3px;
  font-weight: bold;
  cursor: pointer;
  
  transition: background-color 0.35s;
  
  &:hover {
    background-color: hoverColor; 
  }
}
  
breakLine(width, margin, color) {
  width: width;
  margin: margin;
  
  border-top: 1px solid color;
}