<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - WikiFriends</title>
    
    <script type="importmap"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script> <!-- Load jQuery here, so local scripts can use jQuery -->
    
    <link rel="stylesheet" href="~/css/colors.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/WikiFriends.styles.css" asp-append-version="true"/>
</head>

<body>
<main role="main">
    @RenderBody()
</main>

<footer>
    <div>
        <h1 class="footer-title">Important Pages</h1>
        <ul class="footer-list">
            <li><a asp-controller="Home" asp-action="Index">Home</a></li>
            <li><a asp-controller="Home" asp-action="Privacy">Privacy</a></li>
        </ul>
    </div>
    
    <div>
        <h1 class="footer-title">Contact Me</h1>
        <ul class="footer-list">
            <li><a href="mailto:2172289@talnet.nl">2172289@talnet.nl</a></li>
        </ul>
    </div>
</footer>

<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/js/translator.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>