@{
    ViewData["Title"] = "Creator";
}

<div class="main">
    <nav>
        <a href="#top">Back to top</a>
        
        <!-- TODO -->
        <ul class="paragraph-nav"></ul>
    </nav>
    
    <div class="article">
        <form>
            <div id="top">
                <h1 id="page-title" name="title" contenteditable>Title</h1>
                <div class="break-line"></div>
                <p id="page-lead" name="lead" contenteditable>Lead</p>
                <div class="buttons">
                    <button class="p-add-button first-add button">Add Paragraph</button>
                </div>
            </div>

            <div class="paragraphs"></div>
        </form>
    </div>
</div>

<div hidden id="template-paragraph">
    <div class="paragraph">
        <h2 class="p-title" name="p_title" contenteditable>Paragraph Title</h2>
        <div class="break-line"></div>
        <p class="p-body" name="p_body" contenteditable>Paragraph Body</p>
        <div class="buttons">
            <button class="p-add-button add-button button">Add Paragraph</button>
            <button class="p-del-button delete-button button">Remove Paragraph</button>
        </div>
    </div>
</div>

<script src="~/js/creator.js"></script>