@import "../../styl/functions.styl"

.home {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  .home-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 30vw;
    
    .logo {
      width: 50%;
    }
    
    .quote {
      margin: 6px;
    }
    
    .search-form {
      display: flex;
      justify-content: center;
      margin: 10px;
      
      .search-wrapper {
        display: flex;
        flex-direction: row;

        width: 30vw;

        * {
          border: none;
          padding: 5px 10px;

          &:focus-visible {
            outline: none;
          }
        }

        .search-input {
          borderRadiusLeft(5px);
          width: 100%;
          background-color: var(--background-100);
        }

        .search-submit {
          borderRadiusRight(5px);
          background-color: var(--background-200);

          transition: background-color 0.35s;

          &:hover {
            background-color: var(--background-300);
          }
        }
      }
    }
  }
  
  .suggestions {
    display: flex;
    flex-direction: column;
    
    h2 {
      margin: 10px 0 0 0;
    }
    
    ul {
      margin: 0;
      padding-left: 20px; 
      list-style: none;
    }
  }
  
}