@import "../../styl/functions.styl"

.article {
  flex: 1;
  display: flex;
  flex-direction: row-reverse;
  
  .summary-wrapper {
    display: flex;
    flex-direction: column;
    
    margin: 10px;
    padding: 10px;
    width: 325px;
    height: max-content;
    
    background-color: var(--text-100);
    border-radius: 3px;
    
    .s-title {
      margin: 0;
      padding: 7px;
      
      background-color: var(--text-300);
      border-radius: 3px;
    }
    
    .summary-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      
      margin: 10px;
    }
    
    .summary-content {
      display: flex;
      flex-direction: column;
      
      .summary-row {
        display: flex;
        flex-direction: column;
        margin: 5px 0;
        
        .s-row-content {
          margin: 3px 10px;
          font-size: 12px;
        }
        .s-row-title {
          margin: 10px 10px 3px;
          padding: 3px;
          background-color: var(--background-200);
          border-radius: 3px;
        }
      }
    }
  }
  
  .article-wrapper {
    flex: 1;
    
    .title-wrapper {
      margin: 10px;
      
      .title, .lead {
        margin: 5px;
      }
    }
    
    .content {
      margin: 10px;
      
      .p-title, .p-body {
        margin: 5px;
      }
      
      .paragraph-content {
        display: flex;
        flex-direction: row;
        
        .p-body {
          flex: 1;
        }
        .image {
          width: 250px;
          min-height: 100px;
        }
      }
    }
  }
  
  .image {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: 10px;
    
    background-color: var(--primary-200);
    border-radius: 3px;

    .i-add {
      margin: 0 0 10px;
      text-align: center;
      line-height: 200px;
      border-radius: 3px;
      cursor: pointer;
    }

    .image-alt {
      display: flex;
      justify-content: center;
      flex-direction: column;

      border-radius: 3px;

      .i-alt {
        margin: 5px 10px;
      }
    }
  }
}