@import "Article.styl"

.summary {    
  .button-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    
    button {
      flex: 1;
    }
  }
}
  
.paragraph {
  .button-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: end;
    
    width: 100%;
  }
}
  
  
.header.deleted {
  color: orangered
  span {
    height: max-content;
    line-height: inherit;
  }
}
  
[contenteditable]:focus-visible {
  outline: none;
}
  
.i-add {
  cursor: pointer;
}
  
button {
  margin: 5px;
  padding: 5px;
}
.add-button {
  button(auto, auto, var(--primary-300), var(--text-400));
}
.remove-button {
  button(auto, auto, var(--primary-400), var(--text-500));
}