@{
    ViewData["Title"] = "Creator";
}

<div>
    <div class="summary-wrapper">
        <div class="summary">
            <h2 class="s-title" contenteditable>Summary title</h2>
            <div class="summary-image">
                <span class="material-symbols-rounded i-add i-add-preview">add</span>
                <img src="" alt="Your image description" class="i-add" style="display:none;" />

                <div class="image-alt" style="display:none;">
                    <p class="i-alt" contenteditable>Your image description</p>
                    <button onclick="removeImage($(this).parent().parent())">remove image</button>
                </div>
            </div>
            
            <div class="summary-content">
                <div class="summary-row">
                    <button onclick="addSummaryRow($(this).parent())">Add row</button>
                </div>
            </div>
        </div>
    </div>
    
    <div>
        <h1 class="title" contenteditable>Title</h1>
        <p class="lead" contenteditable>Lead</p>
    </div>

    <div class="content">
        <div class="paragraph">
            <button onclick="addParagraph($(this).parent())">add paragraph</button>
        </div>
    </div>
</div>

<div id="paragraph-template" hidden>
    <div class="paragraph">
        <h2 class="p-title" contenteditable>Paragraph Title</h2>
        <p class="p-body" contenteditable>Paragraph body</p>
        
        <div class="images"></div>
        
        <button onclick="addParagraph($(this).parent())">add paragraph</button>
        <button onclick="removeParagraph($(this).parent())">remove paragraph</button>
    </div>
</div>

<div id="image-template" hidden>
    <div class="image" data-preview="true">
        <span class="material-symbols-rounded i-add i-add-preview">add</span>
        <img src="" alt="Your image description" class="i-add" style="display:none;" />
        
        <div class="image-alt" style="display:none;">
            <p class="i-alt" contenteditable>Your image description</p>
            <button onclick="removeImage($(this).parent().parent())">remove image</button>
        </div>
    </div>
</div>

<div id="summary-row-template" hidden>
    <div class="summary-row">
        <h3 class="s-row-title" contenteditable>Summary row</h3>
        <p class="s-row-content" contenteditable>Summary row content</p>
        
        <button onclick="removeSummaryRow($(this).parent())">Remove row</button>
        <button onclick="addSummaryRow($(this).parent())">Add row</button>
    </div>
</div>

<script src="~/js/creator.js"></script>